<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/{{estilo}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{{titulo}}</title>
</head>
<body>
    <div class="navbars">
        <div class="navbar">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/listshop">Lista de Compras</a>
            </li>    
        </div>
    </div>
    {{{body}}}
</body>
</html>