@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.cabeca {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.header{
  background-color: transparent; /* Cor de fundo da div interna */
  margin-top: 1em;
  width: 45%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
}
.header li{
  background-color: transparent;
}

.header li a{
  text-decoration: none;
  color: #2f4553;
  font-weight: 800;
  background-color: transparent;
  transition: all 0.3s ease-out;

}

.header li a:hover{
  color: #6593b0;
}

body {
  background-color: #aacee5;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 6rem;
  margin: 5rem;
}

.product-item {
  position: relative;
  padding: .7em;
  width: 100%;
  background-color: #dbedf8;
  border-radius: 0.5rem;
  list-style: none;
  display: flex;
  align-items: center;
}

.product-item:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.product-button {
  border: none;
  border-radius: 0.5rem;
  padding: .8em;
  background-color: #6593b0;
  color: #ffffff;
  cursor: pointer;
  z-index: 9;
  transition: all 0.9s ease-out;
}

.product-button:hover {
  background-color: #2f4553;
}

.product-image {
  min-width: 120px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 18px;
}

.collum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
}

.product-name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  width: 270px;
}

.product-price {
  font-size: 11.5px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-mkp {
  margin-top: 8px;
  font-size: 12px;
  color: #999;
}

.status-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.693);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
}

.status-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.bxs-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #999;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 100;
}

.product-cod {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 100;
}

.red-heart {
  color: red;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 2em;
}

.pagination-button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #6593b0;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  padding: 6px 10px;
  margin: 0 3px;
  background-color: #dbedf8;
  color: #2f4553;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.page-number:hover {
  background-color: #9cbed3;
}

.page-number:focus {
  outline: none;
  box-shadow: 0 0 0 2px #333;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 5em;
  font-weight: 7  00;
}

label {
  margin-right: 10px;
}

#filter-price {
  max-width: 180px;
}

select {
  padding: 5px;
  border-radius: 4em;
  background-color: #dbedf8;
}

/* Optional: Styling for the select dropdown arrow */
select::-ms-expand {
  display: none;
}

select::-webkit-select-arrow {
  display: none;
}

select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Optional: Styling for the selected option */
option:checked {
  font-weight: bold;
}

/* Optional: Styling for the marketplace label */
label[for="filter-marketplace"] {
  margin-left: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  background-color: #9cbed3;
  padding: 20px;
  color: #2f4553;
  text-align: center;
}

.footer-links a {
  color: #2f4553;
  text-decoration: none;
  margin-right: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.whatsapp-contact a {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f4553;
  text-decoration: none;
}

.whatsapp-contact img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
}

.instruction-div {
  z-index: 9999;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  /* Posiciona o elemento no centro vertical */
  left: 50%;
  /* Posiciona o elemento no centro horizontal */
  transform: translate(-50%, -50%);
  /* Centraliza o elemento no centro da página */
  background-color: #FFFFFF;
  padding: 70px;
  text-align: start;
}

.instruction-div h2 {
  background-color: #FFFFFF;
}

.instruction-div p {
  margin-top: .5em;
  background-color: #FFFFFF;
  margin-bottom: 1.5em;
}

#okk {
  background-color: #6593b0; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove qualquer decoração de texto */
  display: inline-block; /* Permite que o botão se ajuste ao tamanho do texto */
  font-size: 16px; /* Tamanho da fonte do texto */
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
  border-radius: 4px; /* Adiciona cantos arredondados ao botão */
  width: 100px;
}

#okk:hover {
  background-color: #2f4553; /* Cor de fundo quando o mouse passa sobre o botão */
}

/* Estilo para o botão de cópia */
#copyCepInput {
  background-color: #527489;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: .5em;
}

#copyCepInput:hover {
  background-color: #1f2e36;
}

#copyCepInput:disabled {
  background-color: #89a3b3;
  cursor: not-allowed;
}

.instruction-div p a {
  color: #000000;
  font-weight: 800;
  text-decoration: none;
}

.bx-x {
  position: absolute;
  top: 1rem;
  right: .8rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: #FFFFFF;
}
.instruction-div p a:hover {
  color: #feffff;
  font-weight: 900;
  text-decoration: none;
}

.instruction-div p a:visited {
  font-weight: 600;
  color: #000000;
}

.instruction-div p a:focus {
  outline: none; /* Remove a borda de foco ao clicar no link */
}

.instruction-div p a:active {
  color: #2f4553; /* Define a cor do texto ao clicar no link para amarelo */
}

/* Styles for iPhone 11 */
@media (max-width: 414px) {

  body {
    overflow-x: hidden;
  }

  .cabeca{
    margin-bottom: 0;
  }

  .header {
    width: 100%;
    margin: 1em;
  }

  .header a {
    font-size: 14px;
  }

  #product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
  }

  .product-item {
    margin-bottom: 1rem;
  }

  .product-image {
    min-width: 60px;
    max-height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 18px;
  }

  .product-name {
    font-size: 12px;
    max-width: 195px;
  }

  .product-price {
    font-size: 10px;
  }

  .product-button{
    padding: 6px;
    font-size: 11px;
  }

  .center {
    width: 100%;
  }


  .instruction-div {
    padding: 40px;
    /* Reduz o padding para melhorar a legibilidade em telas menores */
    width: 80%;
    /* Define uma largura menor para o elemento em dispositivos móveis */
    height: 70%;
    z-index: 99;
    overflow-x: scroll;
  }

  .instruction-div h2 {
    font-size: 16px;
  }

  .instruction-div p {
    font-size: 13px;
  }

  .filters {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 0.3em;
  }

  select {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select:hover,
  select:focus {
    border-color: #999;
    /* Ajuste a cor conforme necessário */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Ajuste conforme necessário */
  }
}

/* Styles for iPhone 11 */
@media (max-width: 375px) {
  
  .product-button{
    padding: 4px;
    font-size: 9px;
  }

  .pagination{
    margin: 5em;
  }
  
  .pagination-button {
    padding: 4px 8px;
  }

}