@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.cabeca {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.header{
  background-color: transparent; /* Cor de fundo da div interna */
  margin-top: 1em;
  width: 45%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
}
.header li{
  background-color: transparent;
}

.header li a{
  text-decoration: none;
  color: #2f4553;
  font-weight: 800;
  background-color: transparent;
  transition: all 0.3s ease-out;

}

.header li a:hover{
  color: #6593b0;
}



h1 {
  color: #000000;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-bottom: 2em;
}

#geladeira {
  min-width: 240px;
  max-height: 240px;
  object-fit: cover;
  border-radius: 10px;
  margin: 1em;
}

h3 {
  text-align: center;
  color: #6593b0;
  margin-bottom: 10px;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: .2em;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.3em;
}

.progress-bar {
  display: flex;
  align-items: center;
  width: 300px;
  height: 20px;
  background-color: #d0e1f1;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #2f4553;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.progress-bar-label {
  color: #363636;
  font-weight: bold;

}

.info-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pix-info {
  margin-bottom: 20px;
  border-radius: 1em;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.pix-info h3 {
  text-align: center;
  margin-bottom: 10px;
}

.pix-info p {
  text-align: center;
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

/* Estilo para o botão de cópia */
#copyPixButton {
  background-color: #527489;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#copyPixButton:hover {
  background-color: #1f2e36;
}

#copyPixButton:disabled {
  background-color: #89a3b3;
  cursor: not-allowed;
}

/* Estilo para o ícone de cópia */
.fa-copy {
  margin-right: 5px;
}

.fa-check {
  margin-right: 5px;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e6eef4;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  background-color: #6593b0;
  padding: 20px;
  color: #deeaf5;
  text-align: center;
}

.footer-links a {
  color: #deeaf5;
  text-decoration: none;
  margin-right: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}


.whatsapp-contact a {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #deeaf5;
  text-decoration: none;
}

.whatsapp-contact img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Styles for iPhone 11 */
@media (max-width: 414px) {

  body {
    overflow-x: hidden;
  }

  .cabeca{
    margin-bottom: 0;
    border-bottom: 1px solid #1f2e36;
    margin-bottom: .5em;
  }

  .header {
    width: 100%;
    margin: 1em;
  }

  .header a {
    font-size: 14px;
  }

  .info-center{
    margin-bottom: 1em;
  }
}