<div class="content">
<div class="welcome-section">
    <div class="header">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/listshop">Lista de Presentes</a>
        </li>
    </div>
    <div class="text">
        <h1 class="welcome-h1">Eduarda &amp Vinicius</h1>
        <h2 class="welcome-h2">6 DE OUTUBRO DE 2023</h2>
    </div>
    <div class="in">
        <p class="welcome-p">Veja abaixo as instruções de como utilizar o site.</p>

        <button id="instruction">Ver Instruções</button>
    </div>


</div>
<div class="center">
    <div class="instruction-div">
        <i class='bx bx-x'></i>
        <h2>Como faço para comprar um presente para o casal?</h2>
        <p>
            1. Vá em LISTA DE COMPRAS e escolha o item que melhor combine com o seu estilo de presente.<br>
            2. Agora que você já escolheu seu presente é necessário que faça a compra dele atraves do site indicado
            na descrição do item ou em outro site que seja de sua preferência, é importante verificar se o item tem
            as mesmas características antes de fazer a sua compra. Vale ressaltar que ficará ao seu critério se
            desejar entregar esse presente em mãos ou colocar o endereço dos noivos direto na compra (O endereço dos
            noivos está destacado abaixo).<br>
            3. Pronto, se estiver nesse passo você já conseguiu comprar seu presente, mas, para manter o controle
            dos presentes é importante você mandar uma mensagem via whatsapp conforme é explicado na próxima
            pergunta 'O que devo fazer após efetuar a compra?'”.
        </p>
        <h2>O que devo fazer após efetuar a compra?</h2>
        <p>
            1. Você enviará uma mensagem no whatsapp (31) 98987-8715 de nome João. Na mensagem coloque apenas o nome e o
            cod
            do produto que você comprou.<br>
            2. Exemplo: Olá, estou enviando essa mensagem para avisar que eu adiquiri o produto Caixa Organizadora Preta
            com o cod 1.
        </p>
        <h2>Qual é o endereço dos noivos?</h2>
        <p>Rua João Camilo de Oliveira Torres, 830. Bairro Tupi - Cep: 31846-310
            <button id="copyCepInput" onclick="copyCepToClipboard()"><i class='bx bx-copy'></i></button>
        </p>

        <h2>O que é a página PIX?</h2>
        <p>Esta página será utilizada para que se vocês quiserem contribuir para o arrecadamento da geladeira dos
            noivos, ou se desejar enviar um pix para os noivos.</p>
    </div>
</div>

</div>
<script type="text/javascript" src="/js/handlers.js"></script>