<div class="filters">
  <label for="filter-price">Ordenar por preço:</label>
  <select id="filter-price">
    <option value="default">Padrão</option>
    <option value="lowToHigh">Menor para Maior</option>
    <option value="highToLow">Maior para Menor</option>
  </select>
  <label for="filter-marketplace">Selecione o Marketplace:</label>
</div>

<ul id="product-container" class="product-list"></ul>

<div class="pagination">
  <button id="prev-page-button" class="pagination-button">Anterior</button>
  <div id="page-numbers-container" class="page-numbers"></div>
  <button id="next-page-button" class="pagination-button">Próxima</button>
</div>


<script type="text/javascript" src="/js/products.js"></script>