<h1>PIX DOS NOIVOS</h1>

<h3>Geladeira Consul CRM56HK</h3>
<div class="info-center">
    <img id="geladeira" src="/images/gela.jpg" alt="AA">
</div>
<div class="progress">
    <p>Valor do item: R$ {{geladeira.valorTotal}}</p>



    <div class="progress-bar">
        <div class="progress-bar-fill"
            style="width: {{calculateProgressWidth geladeira.valorArrecadado geladeira.valorTotal}}%"></div>
    </div>
    <p class="progress-bar-label">Valor arrecadado até o momento: R$ {{geladeira.valorArrecadado}}</p>
</div>

<div class="info-center">
    <div class="pix-info">
        <h3>Chave PIX dos Noivos</h3>
        <p>{{chavePix}}</p>
    </div>
</div>